
div {
	width: 400px;
	padding: 10px;
	margin:	auto;
	border: 1px;
	border: medium black dotted;
}

table {
	margin: auto;
	border: medium black dotted;
}


th {
	font-size: 15px;
	color: #0000ff;
	border: medium black dotted;
}
